/*Responsive Stuff*/
html, body, .container {
    height: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: table;
  vertical-align: middle;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 960px;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

body{
	margin:0
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/*Nav Bar*/
.hamburgerBackground{
    display: none;
}
.hamburgerButton{
    display: none;
}
.navbar{
    margin: 0;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-right: 12%;
    text-align: right;
}
a:visited{
    color: #BAB8AD;
}
a:active{
    font-weight: bold;
}

.styleNavBar{
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold; 
    font-size: 16px; 
    font-weight: 300; 
    color: #FFFDEA; 
    text-decoration: none;
    padding-left: 2%;
    padding-right: 4%;
}
.navbar-inverse {
    border-color: transparent;
    background: transparent;
}
.navbar-nav{
    margin: 7.5px -15px;
}
.navbar-inverse .navbar-nav>.active>a:hover{
    color:#434244;
    background-color:#080808;
}
.navbar-inverse .navbar-text{
    color:#fff;
}

/*End Navbar stuff*/


/*Section One*/
.largeCreamLogoStyle{
	width: 13%; 
	height: auto; 
    float: left;
	margin-bottom: 20px; 
	padding-top: 1.5%;
    padding-left: 18%;
	display: block;
    margin-left: auto;
    margin-right: auto

}
.sectionOneBackgroundImage{
	height:auto;
	background-color: #F16524;
}
.logoWrapper{
    float: left;
    height: auto;
}
.sectionSeparator{
	border-bottom: 2.2px solid #434244;
	width: 100%;
}

/*Section Two*/

.sectionTwoBackground{
	background-color: #FFFDEA;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.sectionTwoHeaderText{
	font-size: 1.5em ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	padding-top: 4.1%;
	padding-right: 15%;
	padding-left: 15%;
	color: #434244;

}
.round-button {
    width:7%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #F16524; 
}
.arrowText{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    
}
.round-button-circle:hover {
    background:#BF501A;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
}
.verticalLine{
    border-left: thin solid #84837D;
}
.questionHolder{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.questionText{
    font-size: 1em ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    color: #434244;
    padding-bottom: 3%;
    /*display: inline-block;*/
}
.questionWrapper{
    padding-bottom: 7%;
    max-width: 100%;
}
.questionAnswer{
    font-size: 1em ;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #84837D;
    padding-left: 3%;
    padding-bottom: 3%;
}
.buttonWrapper{
    padding-top: 3.2%;
    padding-bottom: 3.2%;
}
.button{
    background: #F16524;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFDEA;
    font-size: 15px;
    height: 50px;
    width: 350px;
    border: none;
}
.sectionOneBorderWrapper{
    width: 100%;
}
.sectionOneBorder{
	border-bottom: 3px dotted;
	border-color: #F16524;
	width: 33%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3.2%;
	margin-bottom: 4.1%; 
}
.sectionOneBorderBelowQues{
    border-bottom: 3px dotted;
    border-color: #F16524;
    width: 33%;
    margin-right: auto;
    margin-left: auto;

}

/*Logo Section*/
.logoTextWrapper{
    padding-bottom: 4.2%;
}
.logoText{
	font-size: 1em ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: left;
	color: #434244;
}

/*Section Three*/

.sectionThreeBackgroundImage{
    height:20%;
    background-image: url("sectionThreeBackground.png");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionThreeTextWrapper{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
.formatTestimonialText{
    width:52%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.sectionThreeTextPartTwo{
    font-family: 'Open Sans', sans-serif;
    color: #FFFDEA;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.testimonialBorderWrapper{
    width: 100%;
}
.testimonialBorder{
    border-bottom: 1px dotted;
    border-color: #FFFDEA;
    width: 100%;
    margin-top: 1.1%;
    margin-bottom: 1.1%; 
}

.sectionThreeTextPartFour{
    font-family: 'Montserrat', sans-serif;
    color: #FFFDEA;
    font-size: 22px;
    font-weight:300;
    margin: 0;
    text-align: left;
    display: inline-block;
}


/*Section Four*/


/*Section Five*/
.sectionFiveBackgroundImage{
    height:20%;
    background-image: url("sectionThreeBackground.png");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonialBorderWrapperSecFive{
    width: 95%;
}
.testimonialBorderSecFive{
    border-bottom: 1px dotted;
    border-color: #FFFDEA;
    width: 100%;
    margin-top: 1.1%;
    margin-bottom: 1.1%; 
}
.sectionThreeText{
    font-family: 'Montserrat', sans-serif;
    color: #FFFDEA;
    font-size: 16px;
    font-weight:300;
    margin: 0;
    display: inline-block;
    text-align: left;
}
.sectionThreeTextPartThree{
    font-family: 'Open Sans', sans-serif;
    color: #FFFDEA;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    text-align: left;
}
.sectionThreeTextPartFive{
    font-family: 'Montserrat', sans-serif;
    color: #FFFDEA;
    font-size: 14px;
    font-weight:300;
    margin: 0;  
    display: inline-block;
}
.sectionThreeTextFiveB{
    font-family: 'Open Sans', sans-serif;
    color: #FFFDEA;
    font-size: 14px;
    margin: 0;
    display: inline-block;
}
/*Section Six*/
 .sectionSixBackgroundMobile{
    display: none;
}

/*Section Seven*/
.sectionSevenBackgroundImageMobile{
    display: none;
}
.sectionSeparatorBottom{
    border-bottom: 2.2px solid #F16524;
    width: 100%;
}
.sectionSevenBackgroundImage{
    height:auto;
    background-image: url("Capstory-Footer.png");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionSevenElements{
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    vertical-align: top;
}
.contact{
    font-family: 'Open Sans', sans-serif;
    color: #FFFDEA;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    text-align: left;
    padding-right: 12%;
}
.requestADemo{
    display: inline-block;
    text-align: center;
    vertical-align: top;

}

.social{
    padding-top: 5.5%;
    padding-bottom: 4%;
    padding-left: auto;
    padding-right: auto;
}
.bugLogo{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-left: 16.2%;
}
/*Media Queries*/


@media(max-width: 960px){
    .img-responsive{
        width: 100%;
    }
    .row {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .navbar{
        display: block;
    }
    .questionWrapper{
        width: 100%;
    }
    .questionAnswer{
        width: 80%;
    }
    .sectionOneBorder{
        width: 60%; 
        margin-bottom: 6%;       
    }
    .sectionOneBorderBelowQues{
        width: 60%;
    }
    .formatTestimonialText{
        width:100%;
    }
/*Section Five*/
    .testimonialBorderSecFive{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .sectionThreeText{
        font-size: 12px;
    }
    .sectionThreeTextPartTwo{
        font-size: 12px;
    }
    .sectionThreeTextPartThree{
        font-size: 12px;
    }
    .sectionThreeTextPartFour{
        font-size: 18px;
    }
    .sectionThreeTextPartFiveWrapper{
        padding-top: 3%;
    }
    .sectionThreeTextPartFive{
        font-size: 12px;
    }
    .sectionThreeTextPartFiveB{
        font-size: 12px;
    }
/*    Section Six mobile view: Demo button*/
    .sectionSixBackgroundMobile{
        background-color: #FFFDEA;
        height: auto;
        max-width: 100%;
        overflow: hidden;
        display: block;
        
    }
    /*Section Seven*/
    .sectionSevenBackgroundImage{
        display: none;
    }
    .sectionSevenBackgroundImageMobile{
        display: block;
        height: auto;
        background-image: url("Capstory-Footer.png");
        -webkit-background-size: cover;
        -moz-background-size:cover;
        -o-background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .sectionSevenElementsMobile{
        display: block;
        padding-top: 4%;
        padding-bottom: 2%;
        vertical-align: top;
    }
    .capstoryMobileIcon{
        width: 15%; 
        vertical-align: top; 
        margin:0; 
        float: right; 
        padding-right: 5.5%;
    }
    .contactMobile{
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: #FFFDEA;
        font-size: 16px;
        margin: 0;
        display: inline-block;
        float: left;
        text-align: left;
        padding-left: 7%;
    }
    .requestADemoMobile{
        display: block;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100%;
    }

    .socialMobile{
        display: block;
        padding-top: 5.5%;
        padding-bottom: 4%;
        padding-left: auto;
        padding-right: auto;
    }
    .FacebookMobile img{
        display: inline-block;
        width: 70%; 
        border:0; 
    }
    .TwitterMobile img{
        display: inline-block;
        width: 70%; 
        border:0; 
    }
    .LinkedInMobile img{
        display: inline-block;
        width: 70%; 
        border:0;
    }
    .InstagramMobile img{
        display: inline-block;
        width: 70%; 
        border:0; 
    }
    .TwitterMobile{
        padding-left: 3%;
        padding-right:11%;
    }
    .FacebookMobile{
        padding-right:11%;
    }
    .InstagramMobile{
        padding-right:11%;
    }
    .LinkedInMobile{
        padding-right:3%;
    }


}
@media(max-width: 768px){
    .img-responsive{
        width: 100%;
    }
    .row {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    /*NavBar Stuff*/
    .styleNavBar{
        display: none;
    }
    .largeCreamLogoStyle{
        width: 32%; 
        padding-top: 5%; 
        padding-left: 0;
        float: left;

    }
    .hamburgerBackground{
        display: block;
        position: fixed;
        width: 100%;
        background-color: #FFFDEA;
        height: auto;
    }

    .mobileWrapper{
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        height: 76px;
    }

    .hamburgerButton{
        display: block;
        width: 7%;
        float: right;
    }
    .navbar{
        display: block;
    }
    /*End NavBar*/
    .questionWrapper{
        width: 70%;
    }
    .questionAnswer{
        font-size: .7em;
        max-width: 60%;
    }
    .sectionOneBorder{
        width: 60%; 
        margin-bottom: 6%;       
    }
    .sectionOneBorderBelowQues{
        width: 80%;
    }
    .formatTestimonialText{
        width:100%;
    }
/*Section Five*/
    .testimonialBorderSecFive{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .sectionThreeText{
        font-size: 12px;
    }
    .sectionThreeTextPartTwo{
        font-size: 12px;
    }
    .sectionThreeTextPartThree{
        font-size: 12px;
    }
    .sectionThreeTextPartFour{
        font-size: 18px;
    }
    .sectionThreeTextPartFiveWrapper{
        padding-top: 3%;
    }
    .sectionThreeTextPartFive{
        font-size: 12px;
    }
    .sectionThreeTextPartFiveB{
        font-size: 12px;
    }
/*    Section Six mobile view: Demo button*/
    .sectionSixBackgroundMobile{
        background-color: #FFFDEA;
        height: auto;
        max-width: 100%;
        overflow: hidden;
        display: block;
        
    }

    /*Section Seven*/
    .sectionSevenBackgroundImage{
        display: none;
    }
    .sectionSevenBackgroundImageMobile{
        display: block;
        height: auto;
        background-image: url("Capstory-Footer.png");
        -webkit-background-size: cover;
        -moz-background-size:cover;
        -o-background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .sectionSevenElementsMobile{
        display: block;
        padding-top: 6%;
        padding-bottom: 2%;
        vertical-align: top;
    }
    .capstoryMobileIcon{
        width: 15%; 
        vertical-align: top; 
        margin:0; 
        float: right; 
        padding-right: 5.5%;
    }
    .contactMobile{
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: #FFFDEA;
        font-size: 16px;
        margin: 0;
        display: inline-block;
        float: left;
        text-align: left;
        padding-left: 7%;
    }
    .requestADemoMobile{
        display: block;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100%;
    }

    .socialMobile{
        display: block;
        padding-top: 5.5%;
        padding-bottom: 4%;
        padding-left: auto;
        padding-right: auto;
    }
    .FacebookMobile img{
        display: inline-block;
        width: 70%; 
        border:0; 
    }
    .TwitterMobile img{
        display: inline-block;
        width: 70%; 
        border:0; 
    }
    .LinkedInMobile img{
        display: inline-block;
        width: 70%; 
        border:0;
    }
    .InstagramMobile img{
        display: inline-block;
        width: 70%; 
        border:0; 
    }
    .TwitterMobile{
        padding-left: 4%;
        padding-right:11%;
    }
    .FacebookMobile{
        padding-right:11%;
    }
    .InstagramMobile{
        padding-right:11%;
    }
    .LinkedInMobile{
        padding-right:4%;
    }

}
@media(max-width: 380px){
    .img-responsive{
        width: 100%;
    }
    .row {
    width: 85%;
    }
    .sectionOneBorder{
        margin-top: 6%;
        width:80%;
    }

    /*Hamburger Button*/
    .hamburgerBackground{
        display: block;
        position: fixed;
        width: 100%;
        background-color: #FFFDEA;
        height: auto;
    }

    .mobileWrapper{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 56px;
    }

    .largeCreamLogoStyle{
        width: 38%;
        padding-top: 6%; 
        padding-left: 0;
    }
    .hamburgerButton{
        width: 10%;
        padding-top: 9%;
        float: right;
    }

    .styleNavBar{
        display: none;
    }
    .orangeLogoWrapper{
        padding-left: 3%;
        padding-top: 3%;
        display: inline-block;
    }

    .menu{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        padding-top: 1.5%;
        padding-bottom: 2%;
        text-align: center;
        text-decoration: none;
    }
    .hamburgerBorder{
        border-bottom: 1px solid #84837D;
        width: 100%;
    }
    
    .buttonWrapperHamburger{
        display: block;
        padding-top: 4%;
        padding-bottom: 8%;
        display: block;
        text-align: center;
    }
    .buttonHamburger{
        background: #F16524;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFDEA;
        font-size: 15px;
        height: 50px;
        border: none;
        width: 80%;
        text-align: center;
    }
    .button{
        width: 95%;
    }
    .buttonWrapper{
        display: block;
        padding-top: 7%;
        padding-bottom: 7%;
    }


    /*Hamburger Button End*/
    .sectionSevenElementsMobile{
        padding-top: 5%;
    }
}